@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  user-select: none;
  scroll-behavior: smooth;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cabin {
  font-family: 'Cabin', sans-serif;
}


body {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  width: 1120px;
}

.containerBG {
  width: 1120px;
}

.footerContainer {
  width: 100%;
}

.footerBox {
  width: 1120px;
}

hr.solid {
  border-top: 1px solid #F7F7F2;
  width: 100%;
}

.footerEnd {
  width: 100%;
}

.footerText {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.footerLeft {
  height: 100px;
  order: 1;
  width: 20%;

}

.footerRight {
  order: 3;
  width: 20%;
}

.footerCenter {
  order: 2;
  width: 30%;
}



@media all and (max-width: 1065px) {

  .container {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }

  .containerBG {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }

  .hideMob {
    display: none;
  }

  .footerItemBox {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .contactMap {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }

  .footerBox {
    margin-inline: 30px;
  }

  .mText {
    display: unset;
  }

  .dText {
    display: none;
  }

  .footerLeft {
    order: 3;
    width: 100%;
    align-items: center;
    height: 60px;
    flex-wrap: wrap;
  }

  .footerRight {
    order: 1;
    width: 100%;
    align-items: center;
  }

  .fDownB {
    justify-content: center;
    gap: 30px;

  }

  .footerCenter {
    margin-top: 10px;
    order: 2;
    width: 100%;
  }

  .abtImg {
    width: 60vw;
    height: auto;
  }

}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F7F7F2;
}

::-webkit-scrollbar-thumb {
  background: #FFBB02;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #261C15;
}



.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFBB02;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}